<div class="row justify-content-center">
  <div class="col-md-4">
    <form [formGroup]="alarmForm" (ngSubmit)="onSubmit()" class="form-group">
      <label for="alarmName" class="form-label">Alarm Name:</label>
      <input type="text" id="alarmName" formControlName="alarmName" class="form-control">

      <label for="region" class="form-label">Region:</label>
      <select id="region" formControlName="region" class="form-control">
        <option value="dev" class="mb-1">dev</option>
        <option value="test" class="mb-1">test</option>
        <option value="staging" class="mb-1">staging</option>
      </select>

      <input type="submit" value="Submit" class="btn btn-primary mt-3" [disabled]="isSubmitting">
    </form>
  </div>
</div>
