<html>
  <body>
    <div>
      <img class=logo src="../assets/nice-web-logo.jpg"/>
    </div>


    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="agent">Agent:</label>
        <input class="input" id="agent" formControlName="agent">
      </div>
    
      <div>
        <label for="region">Region:</label>
        <input class="input" id="region" formControlName="region">
      </div>
    
      <button type="submit">Submit</button>
    </form>
  </body>
</html>