<main class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <img class=logo src="../assets/nice-web-logo.jpg" alt=""/>
      </div>
    </div>
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-6">
          <app-alarm-form (responseChange)="handleResponseChange($event)"></app-alarm-form>
        </div>
        <div class="col-md-6">
          <app-results-output [response]="response"></app-results-output>
        </div>
      </div>
    </div>
  </div>
</main>


